.home-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow-x: clip;
}

.banner-content {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
  margin-top: 90px;
}

.banner-content h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 28px;
}

.banner-content h1 span {
  color: var(--color-accent);
}

.banner-content p {
  width: 630px;
  max-width: 95%;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-body);
  text-align: center;
  margin-block: 0px;
  display: block;
  margin-bottom: 32px;
}

.banner-content p b {
  font-weight: inherit;
  font-size: 22px;
  color: #FFF;
}

.banner-content p span {
  color: var(--color-accent);
}

.page-home section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.page-home section h1 {
  font-size: 36px;
}

.w-is-alpha {
  display: flex;
}

.w-is-alpha h1 span, .w-is-alpha p span {
  color: var(--color-accent);
}

.w-is-alpha p {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text-body);
  width: 640px;
  max-width: 100%;
}

.w-is-alpha > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-is-alpha .wolf-right {
  height: 320px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 56px;
}

.creator-card-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  transition: all 0.25s;
}

.nft-card-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  transition: all 0.25s;
}

@media screen and (max-width: 1240px) {
  .creator-card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .nft-card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .w-is-alpha .wolf-right {
    display: none;
  }

  .w-is-alpha > div {
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .nft-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 840px) {
  .creator-card-grid {
    /* grid-template-columns: 1fr; */
  }

  .banner-content h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  .nft-card-grid {
    grid-template-columns: 1fr;
  }
}