.page-faq {
  margin-top: 90px;
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: calc(100vh - 90px);
}

.page-faq h1 {
  font-size: 36px;
}

.faq-card {
  width: 100%;
  max-width: 720px;
  background: var(--color-primary);
  border-radius: 10px;
  margin-bottom: 16px;
}

.faq-title {
  display: block;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
}

.faq-content {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  color: var(--color-text-body);
  height: 0;
  transition: all 0.3s;
  padding: 0px 24px;
}

.faq-header {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  transition: all 0.25s;
  cursor: pointer;
  border-bottom: solid 1px transparent;
  border-radius: 10px;
}

.faq-header i {
  transform: rotate(0deg);
  transition: all 0.3s;
}

.faq-header div {
  margin-left: auto;
  height: 60px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
}

.faq-header:hover {
  background: rgba(255, 255, 255, 0.05);
}

.faq-expanded .faq-content {
  height: auto;
  padding: 20px 24px;
}

.faq-expanded .faq-header {
  border-bottom: solid 1px var(--color-border);
  border-radius: 10px 10px 0px 0px;
}

.faq-expanded .faq-header i {
  transform: rotate(180deg);
}